// Define variables for your color scheme
$amarelo-comfy: #F2B747;
$azul-comfy: #28A7BF;
$beige-comfy: #FFC48A;
$brown-comfy: #851204;
$lightbrown-comfy: #D57629;



// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
