// Define variables for your color scheme
$amarelo-comfy: #F2B747;
$azul-comfy: #28A7BF;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
