.carousel-item {
  height: 255px;
}

.banner-1, .banner-2 {
  padding: calc(42px + 3%) 15% 2% 15%;
}

.banner-1 {
  background-color: $amarelo-comfy;
}

.banner-2 {
  background-color: $azul-comfy;
}

.content-carousel {
  display: flex;
  justify-content: space-between;
}

.img-banner-1 {
  max-width: 30%;
}

.img-banner-2 {
  max-height: 229px; //altura do primeiro gato
}

.title-carousel, .text-carousel{
  color: white;
}

.carousel-indicators [data-bs-target]  {
  width: 5%;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-prev-icon {
  background-image: url('back-arrow.png');

}

.carousel-control-next-icon {
  background-image: url('caret-right.png')
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 1.5rem;
  height: 1.5rem;
}

h1.title-carousel {
  font-weight: 500;
}

p.text-carousel {
  min-height: 30%;
}

//breakpoint tablet
@media (min-width: $breakpoint-tablet) {

  .carousel-item {
    height: 373px;
  }

  .carousel-indicators [data-bs-target]  {
    width: 7%;
  }

  .carousel-indicators {
    margin-bottom: 1rem;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }

  .img-banner-1 {
    width: 30%;
    max-width: 315px;
  }

  h1.title-carousel {
    font-weight: 500;
    font-size: 2rem;
  }

  p.text-carousel {
    padding-top: 6%;
    font-size: 1.2rem;
    min-height: 40%;
  }

  .banner-1,.banner-2 {
    padding: calc(52px + 3%) 15% 2% 15%;
  }
}

//breakpoint desktop

@media (min-width: $breakpoint-desktop) {

  .carousel-item {
    height: 497px;
  }

  .carousel-indicators [data-bs-target]  {
    width: 10%;
    margin-right: 2%;
  }

  .carousel-indicators {
    margin-bottom: 1.2rem;
  }


  h1.title-carousel {
    font-weight: 500;
    font-size: 3rem;
  }

  p.text-carousel {
    font-size: 1.8rem;
  }
}
