<div class="container">
  <%= simple_form_for @chatroom do |f| %>
    <%= f.input :name, label: "Nome da Sala" %>

    <%= f.submit class: 'btn btn-secondary' %>  |
    <%= link_to 'Back', chatrooms_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
