<div class="container">
  <%= simple_form_for [@animal, @chatroom] do |f| %>
    <%= f.input :name, label: "Chatroom Name" %>

    <%= f.submit class: 'btn btn-secondary' %>  |
    <%= link_to 'Back', animal_chatrooms_path(@animal), class: 'btn btn-secondary' %>
  <% end %>
</div>
