<div class="container">
  <%= simple_form_for [@animal, @chatroom] do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Give your chat a name. (Maybe the pet's name!)", placeholder: "E.g: Lassie's Adoption" %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.submit 'Create Chatroom', class: 'button button-carosel' %>
    </div>
  <% end %>
</div>
