<div class="about-us padding_navbar">
  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to Comfy puppies. An online interactive pet placement platform
    that helps pet owners find new homes permanent or temporary for their pets. </p>

    <h2>Meet Our Team</h2>
    <div class="team">

      <div class="team-member">
        <%= image_tag 'Kuxixima.jpeg', alt: 'Kuxixima Almeida', class: 'team-photo' %>
        <h3>Kuxixima Almeida</h3>
        <p>Comfy puppies Assistent </p>
      </div>

      <div class="team-member">
        <%= image_tag 'Monika.jpeg', alt: 'Monika Hackmayer', class: 'team-photo' %>
        <h3>Monika Hackmayer</h3>
        <p>Comfy puppies president</p>
      </div>

      <div class="team-member">
        <%= image_tag 'Lucas.jpeg', alt: 'Lucas Lanna', class: 'team-photo' %>
        <h3>Lucas Lannas</h3>
        <p>Comfy puppies CTO </p>
      </div>

      <div class="team-member">
        <%= image_tag 'Jessica.jpeg', alt: 'Jessica Machado', class: 'team-photo' %>
        <h3>Jessica Machado</h3>
        <p>CEO & Founder of Comfy puppies</p>
      </div>


    </div>
      <div class="our-values">
        <h2>Our Values</h2>
        <ul>
          <li><strong>integrity: '</strong>  We believe in doing the right thing, always.'</li>
          <li><strong>Excellence:  '</strong>  We strive for perfection in everything we do.'</li>
        </ul>
      </div>
  </div>
</div>
