<h1>Animals available for adoption</h1>
<ul>
  <% @animals.each do |animal| %>
    <h3><%= link_to animal.name, animal_path(animal) %></h3>
    <p>Breed: <%= animal.breed %></p>
    <p>Age: <%= animal.age %> anos</p>
  <% end %>
</ul>
