@import "breakpoints";

//default
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img, img.avatar {
  //width: 40px; default
  width: 30px; //comfy mobile
}

//---------------------------------------------------------------------------------------------

//for comfy
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1111);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px);
  padding: 0;
  height: 42px;
}

button.navbar-toggler {
  padding: 0.15rem 0.3rem;
}

//breakpoint avatar
@media (min-width: 576px) {
  .container-fluid {
    padding-top: 2px;
  }
}

//breakpoint tablet
@media (min-width: $breakpoint-tablet) {
  .navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
    height: auto;
  }

  a.nav-link {
    padding-top: 0.7rem;
    font-size: 1rem;
  }
  .navbar-lewagon .navbar-brand img, img.avatar {
    width: 40px; //default
  }

  button.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  }

  .container-fluid{
    padding-top: 0;
  }
}

@media (min-width: $breakpoint-desktop) {
  .navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
    height: 60px;
  }
}
