.card-category {
  background-color: $azul-comfy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.h1-adopt-a-pet {
  font-size: 2rem;
}

.p-adopt-a-pet {
  font-size: 1rem;
}

.fiter-and-cards-index {
  max-width: 100%;
}

.div-form-input-index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.7rem;
}

.input-index {
 padding: 0.25rem 0.5rem;
}


.text-light{
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow:hidden;
  border-radius: 20px;
  min-height: 350px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

  @media (max-width: 768px) {
  min-height:350px;
  }

  @media (max-width: 420px) {
  min-height:300px;
  }

  &.card-has-bg{
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;


  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      // background: rgb(255,186,33);
      // background: linear-gradient(0deg, rgb(217, 213, 205) 0%, rgb(241, 238, 232) 100%);
      }
   }
  }

  .card-footer{
  background: none;
    border-top: none;
    img {
      border:solid 3px rgba(255,255,255,0.3);
    }
  }

  .card-title {
    font-weight: 800;
  }

  .card-meta {
    color:rgba(0,0,0,0.3);
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:2px;
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    .card-body{
      margin-top:30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  // background: rgb(255,186,33);
  // background: linear-gradient(0deg, rgba(255,186,33,0.3785889355742297) 0%, rgba(255,186,33,1) 100%);
  }
}

.card_img_index {
  min-height: 363px;
  max-height: 516px;
  width: 100%;
  object-fit: fill;
}

//breakpoint tablet
@media (min-width: $breakpoint-tablet) {
  .input-index {
    padding: 0.375rem 0.75rem;
    min-width: 100px;
   }

   .card_img_index {
    min-height: 350px;
    min-width: 260px;
  }
}
